table{
    background: #FFEBCD;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-family: "Times New Roman", Times, serif;

}
p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
    color: #4CAF50;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}
textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}
input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

input[type=submit] {

    width: 20%;
    background-color: #006400;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
}